extends layout

block content

  h1 Edit Post

  ul.errors
    if errors
      each error, i in errors
        li.alert.alert-danger #{error.msg}

  if posts
   each post, i in posts
    form(method='post', action='/posts/editpost', enctype="multipart/form-data")

      .addpostbox
        label.addpost Cool name for post
        input.addpost-input(name='title', type='text', value='#{post.title}')

        label.addpost Fun category
        select(name='category')
          each category, i in categories
            option(value='#{category.name}') #{category.name}

      .addpostbox
        label.addpost Stuff about post
        textarea(name = 'body', id = 'body', value= '#{post.body}') #{post.body}

      .addpostbox
        label.addpost Post Image:
        input.addpost-input(name = 'mainimage', type ='file', value = '#{post.mainimage}' )

      input.save(name = 'submit',type = 'submit', value = 'Save edit')

    script(src='/ckeditor/ckeditor.js')
    script
      | CKEDITOR.replace('body');
