extends layout

block content

  if posts
   each post, i in posts
    .post
     h1
      a(href='/posts/show/#{post._id}')
       =post.title

     p.posted
      a(href='/categories/show/#{post.category}') #{post.category}
      by , by #{post.author}  on  #{moment(post.date).format("MM-DD-YYYY")}

     img(src='/images/#{post.mainimage}')

     !=truncateText(post.body,600)

     a.readmore(href='/posts/show/#{post._id}') Read More

     br

     a(href='/posts/editpost/#{post._id}')
      input.editdelete#edit(type='button', name= 'editpost', value= 'Edit Post')
     a(href='/posts/deletepost/#{post._id}')
      input.editdelete(type='button', name= 'deletepost', value= 'Delete Post')

  if !posts
   h4 Login to add your first post.
