extends layout

block content
    .post
     h1=post.title

     p.posted Posted in
      a(href='/categories/show/#{post.category}') #{post.category}
      by #{post.author}
      on #{moment(post.date).format("MM-DD-YYYY")}
     img(src='/images/#{post.mainimage}')
     !=post.body
     br

     if post.comments
      h2 Comments
      each comment, i in post.comments
       .addpostbox
        p.name #{comment.name}
        p #{comment.body}
      br

    h2 Add Comment

    if errors
     ul.errors
      each error, i in errors
       li.alert #{error.msg}

    form(method='post', action='/posts/addcomment')
     input(name='postid', type='hidden', value='#{post._id}')
     .addpostbox
      label.addpost Name
      input.addpost-input(type='text', name='name')

      label.addpost Email
      input.addpost-input(type='text', name='email')

     .addpostbox
      label.addpost Comment (please say nice things, thanks)
      br
      textarea(type='text', name='body')

     br
     input.save(type='submit', name='submit',value='Add Comment')
     br
     br
     hr
